In [20]:
import pandas as pd

## Get Information from Metadata
https://www.synapse.org/Synapse:syn65941775

In [21]:
# Read in the data
biospecimen = pd.read_csv("UCI_Clu-rs2279590_h2kb_biospecimen_metadata.csv") #syn66642160
individual = pd.read_csv("UCI_Clu-rs2279590_h2kb_IndividualID.csv") #syn66642159
assay_metadata = pd.read_csv("UCI_Clu-rs2279590_h2kb-AssayRnaSeqMetadata.csv") #syn66642162

# Drop empty rows (all-NaN) for each dataframe
biospecimen = biospecimen.dropna(how='all')
individual = individual.dropna(how='all')
assay_metadata = assay_metadata.dropna(how='all')


# Print basic info for each dataframe
for name, df in [("biospecimen", biospecimen), ("individual", individual), ("assay_metadata", assay_metadata)]:
    print(f"\n=== {name.upper()} DATAFRAME ===")
    print(f"Shape: {df.shape[0]} rows x {df.shape[1]} columns")
    print(f"Columns: {list(df.columns)}")
    if 'individualID' in df.columns:
        print(f"Number of unique individualIDs: {df['individualID'].nunique()}")
        print(f"Number of rows with missing individualID: {df['individualID'].isna().sum()}")
    else:
        print("'individualID' column not found.")

=== BIOSPECIMEN DATAFRAME ===
Shape: 114 rows x 17 columns
Columns: ['individualID', 'specimenID', 'specimenIdSource', 'organ', 'tissue', 'BrodmannArea', 'sampleStatus', 'tissueWeight', 'tissueVolume', 'nucleicAcidSource', 'cellType', 'fastingState', 'isPostMortem', 'samplingAge', 'samplingAgeUnits', 'visitNumber', 'assay']
Number of unique individualIDs: 77
Number of rows with missing individualID: 0

=== INDIVIDUAL DATAFRAME ===
Shape: 77 rows x 27 columns
Columns: ['individualID', 'climbID', 'microchipID', 'birthID', 'matingID', 'individualIdSource', 'materialOrigin', 'sex', 'species', 'generation', 'dateBirth', 'ageDeath', 'ageDeathUnits', 'brainWeight', 'rodentWeight', 'rodentDiet', 'bedding', 'room', 'waterpH', 'treatmentDose', 'treatmentType', 'stockNumber', 'genotype', 'genotypeBackground', 'individualCommonGenotype', 'modelSystemName', 'officialName']
Number of unique individualIDs: 77
Number of rows with missing individualID: 0

=== RNASEQMETADATA DATAFRAME ===
Shape: 114 rows x 25 columns
Columns: ['Component', 'specimenID', 'libraryID', 'assay', 'platform', 'RIN', 'referenceSet', 'rnaBatch', 'libraryBatch', 'sequencingBatch', 'libraryPrep', 'libraryPreparationMethod', 'libraryVersion', 'isStranded', 'readStrandOrigin', 'readLength', 'runType', 'totalReads', 'validBarcodeReads', 'DV200', 'inputTotalRNA', 'ribosomalDepletion', 'globinRemoval', 'Unnamed: 23', 'Unnamed: 24']
'individualID' column not found.

In [22]:
# Merge the dataframes

merged1_df = pd.merge(biospecimen, individual, on='individualID', how='outer')
# Do an inner merge because we only want metadata for specimens that theoretically have RNAseq data
merged_df = pd.merge(merged1_df, assay_metadata, on='specimenID', how='inner')

print("\n=== MERGED DATAFRAME INFO ===")
print(f"Shape: {merged_df.shape[0]} rows x {merged_df.shape[1]} columns")
print(f"Columns: {list(merged_df.columns)}")

if 'individualID' in merged_df.columns:
    print(f"Number of unique individualIDs: {merged_df['individualID'].nunique()}")
    print(f"Number of rows with missing individualID: {merged_df['individualID'].isna().sum()}")
else:
    print("'individualID' column not found in merged_df.")

if 'specimenID' in merged_df.columns:
    print(f"Number of unique specimenIDs: {merged_df['specimenID'].nunique()}")
    print(f"Number of rows with missing specimenID: {merged_df['specimenID'].isna().sum()}")
else:
    print("'specimenID' column not found in merged_df.")

print("\nFirst 5 rows of merged_df:")
print(merged_df.head())

=== MERGED DATAFRAME INFO ===
Shape: 114 rows x 67 columns
Columns: ['individualID', 'specimenID', 'specimenIdSource', 'organ', 'tissue', 'BrodmannArea', 'sampleStatus', 'tissueWeight', 'tissueVolume', 'nucleicAcidSource', 'cellType', 'fastingState', 'isPostMortem', 'samplingAge', 'samplingAgeUnits', 'visitNumber', 'assay_x', 'climbID', 'microchipID', 'birthID', 'matingID', 'individualIdSource', 'materialOrigin', 'sex', 'species', 'generation', 'dateBirth', 'ageDeath', 'ageDeathUnits', 'brainWeight', 'rodentWeight', 'rodentDiet', 'bedding', 'room', 'waterpH', 'treatmentDose', 'treatmentType', 'stockNumber', 'genotype', 'genotypeBackground', 'individualCommonGenotype', 'modelSystemName', 'officialName', 'Component', 'libraryID', 'assay_y', 'platform', 'RIN', 'referenceSet', 'rnaBatch', 'libraryBatch', 'sequencingBatch', 'libraryPrep', 'libraryPreparationMethod', 'libraryVersion', 'isStranded', 'readStrandOrigin', 'readLength', 'runType', 'totalReads', 'validBarcodeReads', 'DV200', 'inputTotalRNA', 'ribosomalDepletion', 'globinRemoval', 'Unnamed: 23', 'Unnamed: 24']
Number of unique individualIDs: 77
Number of rows with missing individualID: 0
Number of unique specimenIDs: 114
Number of rows with missing specimenID: 0

First 5 rows of merged_df:
   individualID specimenID specimenIdSource  organ       tissue  BrodmannArea  \
0       11615.0    11615lh          UCI_TMF  brain  hippocampus           NaN
1       11616.0    11616lh          UCI_TMF  brain  hippocampus           NaN
2       11617.0    11617lh          UCI_TMF  brain  hippocampus           NaN
3       11625.0    11625lh          UCI_TMF  brain  hippocampus           NaN
4       11626.0    11626lh          UCI_TMF  brain  hippocampus           NaN

  sampleStatus  tissueWeight  tissueVolume nucleicAcidSource  ...  \
0       frozen           NaN           NaN         bulk cell  ...
1       frozen           NaN           NaN         bulk cell  ...
2       frozen           NaN           NaN         bulk cell  ...
3       frozen           NaN           NaN         bulk cell  ...
4       frozen           NaN           NaN         bulk cell  ...

        readLength    runType totalReads  validBarcodeReads DV200  \
0  R1:150 ; R2:150  pairedEnd        NaN                NaN   NaN
1  R1:150 ; R2:150  pairedEnd        NaN                NaN   NaN
2  R1:150 ; R2:150  pairedEnd        NaN                NaN   NaN
3  R1:150 ; R2:150  pairedEnd        NaN                NaN   NaN
4  R1:150 ; R2:150  pairedEnd        NaN                NaN   NaN

   inputTotalRNA ribosomalDepletion  globinRemoval  Unnamed: 23 Unnamed: 24
0            NaN                NaN            NaN          NaN         NaN
1            NaN                NaN            NaN          NaN         NaN
2            NaN                NaN            NaN          NaN         NaN
3            NaN                NaN            NaN          NaN         NaN
4            NaN                NaN            NaN          NaN         NaN

[5 rows x 67 columns]

In [24]:
# Just looking at some stuff, not neccessary to run
# Print unique entries for the "tissue" column in merged_df
if "tissue" in merged_df.columns:
    unique_tissues = merged_df["tissue"].dropna().unique()
    print("\nUnique entries in 'tissue' column:")
    for t in unique_tissues:
        print(f"- {t}")
    print(f"\nTotal unique tissues: {len(unique_tissues)}")
else:
    print("'tissue' column not found in merged_df.")

# Print unique entries for the "genotype" column in merged_df
if "genotype" in merged_df.columns:
    unique_genotypes = merged_df["genotype"].dropna().unique()
    print("\nUnique entries in 'genotype' column:")
    for g in unique_genotypes:
        print(f"- {g}")
    print(f"\nTotal unique genotypes: {len(unique_genotypes)}")
else:
    print("'genotype' column not found in merged_df.")

Unique entries in 'tissue' column:
- hippocampus
- cerebral cortex

Total unique tissues: 2

Unique entries in 'genotype' column:
- 5XFAD_carrier
- 5XFAD_noncarrier
- 5XFAD_carrier, Clu-rs2279590_KI_homozygous
- Clu-rs2279590_KI_homozygous

Total unique genotypes: 4

In [25]:
# GET THE DATA FOR THE SPREADSHEET (https://docs.google.com/spreadsheets/d/11vmntFrno9ubNMOE8bbMejEROPygmeJZ/edit?pli=1&gid=757405125#gid=757405125)
# Group merged_df by "ageDeath", "sex", and "genotype" and count the number of rows in each group
grouped = merged_df.groupby(["ageDeath", "sex", "genotype"]).size().reset_index(name='count')

print("\n=== GROUPED COUNTS BY ageDeath, sex, genotype ===")
print(grouped)

print(f"\nNumber of unique groups: {grouped.shape[0]}")

=== GROUPED COUNTS BY ageDeath, sex, genotype ===
    ageDeath     sex                                    genotype  count
0        4.0  female                               5XFAD_carrier      5
1        4.0  female  5XFAD_carrier, Clu-rs2279590_KI_homozygous      4
2        4.0  female                            5XFAD_noncarrier      3
3        4.0  female                 Clu-rs2279590_KI_homozygous      5
4        4.0    male                               5XFAD_carrier      5
5        4.0    male  5XFAD_carrier, Clu-rs2279590_KI_homozygous      5
6        4.0    male                            5XFAD_noncarrier      5
7        4.0    male                 Clu-rs2279590_KI_homozygous      5
8       12.0  female                               5XFAD_carrier     10
9       12.0  female  5XFAD_carrier, Clu-rs2279590_KI_homozygous      9
10      12.0  female                            5XFAD_noncarrier     10
11      12.0  female                 Clu-rs2279590_KI_homozygous      9
12      12.0    male                               5XFAD_carrier     10
13      12.0    male  5XFAD_carrier, Clu-rs2279590_KI_homozygous     10
14      12.0    male                            5XFAD_noncarrier      9
15      12.0    male                 Clu-rs2279590_KI_homozygous     10

Number of unique groups: 16

In [7]:
# For each group in grouped, print the unique individualIDs and their count
print("\n=== Unique individualIDs and specimenIDs per group (ageDeath, sex, genotype) ===")
for idx, row in grouped.iterrows():
    age = row["ageDeath"]
    sex = row["sex"]
    genotype = row["genotype"]
    # Filter merged_df for this group
    mask = (
        (merged_df["ageDeath"] == age) &
        (merged_df["sex"] == sex) &
        (merged_df["genotype"] == genotype)
    )
    group_df = merged_df[mask]
    group_individual_ids = group_df["individualID"].dropna()#.unique()
    group_specimen_ids = group_df["specimenID"].dropna()#.unique()
    print(f"\nGroup: ageDeath={age}, sex={sex}, genotype={genotype}")
    print(f"  Group individualIDs ({len(group_individual_ids)}): {list(group_individual_ids)}")
    print(f"  Group specimenIDs ({len(group_specimen_ids)}): {list(group_specimen_ids)}")

=== Unique individualIDs per group (ageDeath, sex, genotype) ===

Group: ageDeath=4.0, sex=female, genotype=5XFAD_carrier
  Group individualIDs (5): [11615.0, 11616.0, 11617.0, 11625.0, 11626.0]
  Group specimenIDs (5): ['11615lh', '11616lh', '11617lh', '11625lh', '11626lh']

Group: ageDeath=4.0, sex=female, genotype=5XFAD_carrier, Clu-rs2279590_KI_homozygous
  Group individualIDs (4): [12517.0, 12646.0, 12659.0, 12669.0]
  Group specimenIDs (4): ['12517lh', '12646lh', '12659lh', '12669lh']

Group: ageDeath=4.0, sex=female, genotype=5XFAD_noncarrier
  Group individualIDs (3): [11627.0, 11628.0, 11629.0]
  Group specimenIDs (3): ['11627lh', '11628lh', '11629lh']

Group: ageDeath=4.0, sex=female, genotype=Clu-rs2279590_KI_homozygous
  Group individualIDs (5): [12648.0, 12658.0, 12660.0, 12661.0, 12670.0]
  Group specimenIDs (5): ['12648lh', '12658lh', '12660lh', '12661lh', '12670lh']

Group: ageDeath=4.0, sex=male, genotype=5XFAD_carrier
  Group individualIDs (5): [11611.0, 11619.0, 11621.0, 11622.0, 11631.0]
  Group specimenIDs (5): ['11611lh', '11619lh', '11621lh', '11622lh', '11631lh']

Group: ageDeath=4.0, sex=male, genotype=5XFAD_carrier, Clu-rs2279590_KI_homozygous
  Group individualIDs (5): [12705.0, 12708.0, 12715.0, 12717.0, 12724.0]
  Group specimenIDs (5): ['12705lh', '12708lh', '12715lh', '12717lh', '12724lh']

Group: ageDeath=4.0, sex=male, genotype=5XFAD_noncarrier
  Group individualIDs (5): [11614.0, 11620.0, 11623.0, 11624.0, 11636.0]
  Group specimenIDs (5): ['11614lh', '11620lh', '11623lh', '11624lh', '11636lh']

Group: ageDeath=4.0, sex=male, genotype=Clu-rs2279590_KI_homozygous
  Group individualIDs (5): [12703.0, 12706.0, 12707.0, 12716.0, 12723.0]
  Group specimenIDs (5): ['12703lh', '12706lh', '12707lh', '12716lh', '12723lh']

Group: ageDeath=12.0, sex=female, genotype=5XFAD_carrier
  Group individualIDs (10): [12433.0, 12433.0, 12440.0, 12440.0, 12443.0, 12443.0, 12450.0, 12450.0, 12452.0, 12452.0]
  Group specimenIDs (10): ['12433lh', '12433lc', '12440lh', '12440lc', '12443lh', '12443lc', '12450lh', '12450lc', '12452lh', '12452lc']

Group: ageDeath=12.0, sex=female, genotype=5XFAD_carrier, Clu-rs2279590_KI_homozygous
  Group individualIDs (9): [12682.0, 12682.0, 12683.0, 12683.0, 12688.0, 12688.0, 12689.0, 12689.0, 12680.0]
  Group specimenIDs (9): ['12682lh', '12682lc', '12683lh', '12683lc', '12688lh', '12688lc', '12689lh', '12689lc', '12680lc']

Group: ageDeath=12.0, sex=female, genotype=5XFAD_noncarrier
  Group individualIDs (10): [12426.0, 12426.0, 12432.0, 12432.0, 12441.0, 12441.0, 12442.0, 12442.0, 12487.0, 12487.0]
  Group specimenIDs (10): ['12426lh', '12426lc', '12432lh', '12432lc', '12441lh', '12441lc', '12442lh', '12442lc', '12487lh', '12487lc']

Group: ageDeath=12.0, sex=female, genotype=Clu-rs2279590_KI_homozygous
  Group individualIDs (9): [12681.0, 12681.0, 12687.0, 12687.0, 12696.0, 12696.0, 12709.0, 12709.0, 12695.0]
  Group specimenIDs (9): ['12681lh', '12681lc', '12687lh', '12687lc', '12696lh', '12696lc', '12709lh', '12709lc', '12695lc']

Group: ageDeath=12.0, sex=male, genotype=5XFAD_carrier
  Group individualIDs (10): [12420.0, 12420.0, 12422.0, 12422.0, 12423.0, 12423.0, 12424.0, 12424.0, 12802.0, 12802.0]
  Group specimenIDs (10): ['12420lh', '12420lc', '12422lh', '12422lc', '12423lh', '12423lc', '12424lh', '12424lc', '12802lh', '12802lc']

Group: ageDeath=12.0, sex=male, genotype=5XFAD_carrier, Clu-rs2279590_KI_homozygous
  Group individualIDs (10): [12642.0, 12642.0, 12643.0, 12643.0, 12698.0, 12698.0, 12701.0, 12701.0, 12702.0, 12702.0]
  Group specimenIDs (10): ['12642lh', '12642lc', '12643lh', '12643lc', '12698lh', '12698lc', '12701lh', '12701lc', '12702lh', '12702lc']

Group: ageDeath=12.0, sex=male, genotype=5XFAD_noncarrier
  Group individualIDs (9): [12419.0, 12419.0, 12421.0, 12421.0, 12429.0, 12429.0, 12434.0, 12434.0, 12435.0]
  Group specimenIDs (9): ['12419lh', '12419lc', '12421lh', '12421lc', '12429lh', '12429lc', '12434lh', '12434lc', '12435lh']

Group: ageDeath=12.0, sex=male, genotype=Clu-rs2279590_KI_homozygous
  Group individualIDs (10): [12639.0, 12639.0, 12640.0, 12640.0, 12641.0, 12641.0, 12691.0, 12691.0, 12692.0, 12692.0]
  Group specimenIDs (10): ['12639lh', '12639lc', '12640lh', '12640lc', '12641lh', '12641lc', '12691lh', '12691lc', '12692lh', '12692lc']

## Validate Metadata
Look at the actual RNAseq data and make sure that all samples exist and align with what is stated in the metadata.

https://www.synapse.org/Synapse:syn65941772

In [12]:
# In terminal, run:
# synapse list syn65941772 > UCI_Clu-h2kbKI_rnaseqdata_list.csv

df = pd.read_csv("UCI_Clu-h2kbKI_rnaseqdata_list.csv", header=None, names=["syn_id", "file_name"])

In [13]:
# Parse the filename to get the metadata
def parse_filename(fname):
    # Split by underscore
    parts = str(fname).split("_")
    # Defensive: if not enough parts, return Nones
    if len(parts) < 7:
        return {
            "lane": None,
            "tissue": None,
            "sex": None,
            "genotype": None,
            "age": None,
            "individualID": None,
            "read": None
        }
    # Find the index of the sex (first "M" or "F")
    try:
        sex_idx = next(i for i, p in enumerate(parts) if p in ("M", "F"))
    except StopIteration:
        sex_idx = 2  # fallback, but may be wrong
    # Find the index of the age (endswith "mo")
    try:
        age_idx = next(i for i, p in enumerate(parts) if p.endswith("mo"))
    except StopIteration:
        age_idx = sex_idx + 2  # fallback
    # Find the index of the individualID (should be after age)
    try:
        indiv_idx = age_idx + 1
        individualID = parts[indiv_idx]
    except IndexError:
        individualID = None
    # Read is always the last part before extension, e.g. ..._1.fq.gz or ..._2.fq.gz
    read_part = parts[-1]
    # If read_part contains a dot, split and take the first part (e.g. "1.fq.gz" -> "1")
    read = read_part.split(".")[0]
    # Genotype is everything between sex and age
    genotype = "_".join(parts[sex_idx + 1:age_idx])
    return {
        "lane": parts[0],
        "tissue": parts[1],
        "sex": parts[sex_idx],
        "genotype": genotype,
        "age": parts[age_idx],
        "individualID": individualID,
        "read": read
    }

parsed = df["file_name"].apply(parse_filename)
parsed_df = pd.DataFrame(parsed.tolist())

In [14]:
# Make sure all samples have both read1 and read2
# For each unique sample (excluding 'read'), check if both read=1 and read=2 exist
group_cols = [col for col in parsed_df.columns if col != "read"]
read_counts = parsed_df.groupby(group_cols)["read"].nunique().reset_index()
# Entries where the number of unique reads is not 2 (i.e., missing a read)
missing_reads = read_counts[read_counts["read"] != 2]
if not missing_reads.empty:
    print("Entries missing either read=1 or read=2:")
    display(missing_reads)
else:
    print("All entries have both read=1 and read=2.")

All entries have both read=1 and read=2.

In [15]:
# Drop read 2
# Merge parsed_df back to df to keep all columns
merged_df_validation = pd.concat([df.reset_index(drop=True), parsed_df.reset_index(drop=True)], axis=1)

# Identify columns to compare for "exact same value" (excluding 'read')
compare_cols = [col for col in parsed_df.columns if col != "read"]

# Sort so that read=1 comes before read=2 for duplicates
merged_df_sorted = merged_df_validation.sort_values(by=compare_cols + ["read"])

# Drop duplicates, keeping the first (which will be read=1 if both exist)
dedup_df = merged_df_sorted.drop_duplicates(subset=compare_cols, keep="first")

new_df = dedup_df[parsed_df.columns].reset_index(drop=True)

In [16]:
# Get metadata to compare
# Group merged_df by "age", "sex", and "genotype" and count the number of rows in each group
grouped = new_df.groupby(["age", "sex", "genotype"]).size().reset_index(name='count')

print("\n=== GROUPED COUNTS BY age, sex, genotype ===")
print(grouped)

print(f"\nNumber of unique groups: {grouped.shape[0]}")

=== GROUPED COUNTS BY age, sex, genotype ===
     age sex                 genotype  count
0   12mo   F                5xFADHEMI     10
1   12mo   F  5xFADHEMI_CLU-h2kbKI_HO      8
2   12mo   F                  5xFADWT     10
3   12mo   F            CLU-h2kbKI_HO      9
4   12mo   M                5xFADHEMI     10
5   12mo   M  5xFADHEMI_CLU-h2kbKI_HO     10
6   12mo   M                  5xFADWT      9
7   12mo   M            CLU-h2kbKI_HO     10
8    4mo   F                5xFADHEMI      5
9    4mo   F  5xFADHEMI_CLU-h2kbKI_HO      4
10   4mo   F                  5xFADWT      3
11   4mo   F            CLU-h2kbKI_HO      5
12   4mo   M                5xFADHEMI      5
13   4mo   M  5xFADHEMI_CLU-h2kbKI_HO      5
14   4mo   M                  5xFADWT      5
15   4mo   M            CLU-h2kbKI_HO      5

Number of unique groups: 16

In [19]:
# For each group in grouped, print the unique individualIDs in that group
print("\n=== Unique individualIDs per group (age, sex, genotype) ===")
for _, row in grouped.iterrows():
    age, sex, genotype = row["age"], row["sex"], row["genotype"]
    # Filter new_df for this group
    ids = new_df[
        (new_df["age"] == age) &
        (new_df["sex"] == sex) &
        (new_df["genotype"] == genotype)
    ]["individualID"].unique()
    print(f"Group (age={age}, sex={sex}, genotype={genotype}) (count={len(ids)}): {list(ids)}")

=== Unique individualIDs per group (age, sex, genotype) ===
Group (age=12mo, sex=F, genotype=5xFADHEMI) (count=5): ['12433', '12440', '12443', '12450', '12452']
Group (age=12mo, sex=F, genotype=5xFADHEMI_CLU-h2kbKI_HO) (count=4): ['12682', '12683', '12688', '12689']
Group (age=12mo, sex=F, genotype=5xFADWT) (count=5): ['12426', '12432', '12441', '12442', '12487']
Group (age=12mo, sex=F, genotype=CLU-h2kbKI_HO) (count=5): ['12681', '12687', '12696', '12709', '12695']
Group (age=12mo, sex=M, genotype=5xFADHEMI) (count=5): ['12420', '12422', '12423', '12424', '12802']
Group (age=12mo, sex=M, genotype=5xFADHEMI_CLU-h2kbKI_HO) (count=5): ['12642', '12643', '12698', '12701', '12702']
Group (age=12mo, sex=M, genotype=5xFADWT) (count=5): ['12419', '12421', '12429', '12434', '12435']
Group (age=12mo, sex=M, genotype=CLU-h2kbKI_HO) (count=5): ['12639', '12640', '12641', '12691', '12692']
Group (age=4mo, sex=F, genotype=5xFADHEMI) (count=5): ['11615', '11616', '11617', '11625', '11626']
Group (age=4mo, sex=F, genotype=5xFADHEMI_CLU-h2kbKI_HO) (count=4): ['12517', '12646', '12659', '12669']
Group (age=4mo, sex=F, genotype=5xFADWT) (count=3): ['11627', '11628', '11629']
Group (age=4mo, sex=F, genotype=CLU-h2kbKI_HO) (count=5): ['12648', '12658', '12660', '12661', '12670']
Group (age=4mo, sex=M, genotype=5xFADHEMI) (count=5): ['11611', '11619', '11621', '11622', '11631']
Group (age=4mo, sex=M, genotype=5xFADHEMI_CLU-h2kbKI_HO) (count=5): ['12705', '12708', '12715', '12717', '12724']
Group (age=4mo, sex=M, genotype=5xFADWT) (count=5): ['11614', '11620', '11623', '11624', '11636']
Group (age=4mo, sex=M, genotype=CLU-h2kbKI_HO) (count=5): ['12703', '12706', '12707', '12716', '12723']

## Explore what the differences are

In [ ]:
filtered_df = new_df[(new_df["sex"] == "F") & (new_df["age"] == "12mo") & (new_df["genotype"] == "5xFADHEMI_CLU-h2kbKI_HO")]
print("Rows with sex=F, age=12mo, genotype=5xFADHEMI_CLU-h2kbKI_HO:")
print(filtered_df)

In [ ]:
# Filter merged_df for the specified criteria
filtered_df = merged_df[
    (merged_df["ageDeath"] == 12.0) &
    (merged_df["sex"] == "female") &
    (merged_df["genotype"] == "5XFAD_carrier, Clu-rs2279590_KI_homozygous")
]

print("\nRows where ageDeath=12mo, sex=female, and genotype=5XFAD_carrier, Clu-rs2279590_KI_homozygous:")
print(filtered_df)